

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border: 1px solid #DDDDDD;
    border-collapse: collapse;
}

.border {
    border-bottom: 1px solid #DDDDDD;
}
.border-line {
    border-top: 2px solid #cccccc;
    border-bottom: 1px solid #DDDDDD;
}

.legend {
    color: #999999  ;
    font-size: 13px;
    border-bottom: 1px solid #DDDDDD;
}

th, td {
    padding: 4px;
}

td {
    font-size: 14px;
    color: #666666;
}

.pontos {
    font-size: 14px;
}

.contaiener{
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    
}

.footer-info-1 {
    font-size: 10px;
    border: none;
}


.footer-info-1 .footer-info-item-1 {
    display: contents;
    font-size: 10px;
    color: #8f8f8f;    
    font-weight: bold;
}

.footer-info-2 .footer-info-item-2 {    
    display: contents;
    font-size: 10px;
    color: #8f8f8f;
}

.footer-info-2 i:nth-child(1){
    font-size: 0.7rem;
    color: #003366;
}
.footer-info-2 i:nth-child(3){
    font-size: 0.7rem;
    color: #1398be;
}
.footer-info-2 i:nth-child(5){
    font-size: 0.7rem;
    color: #de9800;
}
.footer-info-2 i:nth-child(7){
    font-size: 0.7rem;
    color: #c91b04;
}

.center {
    text-align: center;
}

.name {
    text-align: left;
    font-size: 14px;
    color: #666666;
}

.number-1{
    color: #003366;    
    font-size: 18px;
}
.number-2 {
    color: #1398be;
    font-size: 18px;
}
.number-3 {
    color: #de9800;
    font-size: 18px;
}
.number-4 {
    color: #cccccc;
    font-size: 18px;
}
.number-5 {
    color: #c91b04;
    font-size: 18px;
}

.colun-color {
    background-color: #f7f7f7;
    text-align: center;
}
/*
#site {    
    width: 1000px; 
    height: 700px; 
    margin-top: 0; 
    margin-left: auto; 
    margin-bottom: 0;
    margin-right: auto;
    background-color: #666;
}

/*
table {
    border-collapse: collapse;
    width: 70%;
    table-layout: fixed;
    empty-cells: hide;
}

th {
    height: 10px;
}

td {
    text-align: center;
    height: 10px;
    vertical-align: bottom;
}

/*
Posição da legenta
*//*
caption {
    caption-side: bottom;
}
*/